doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/style/bootstrap.min.css')
    script(type='text/javascript', src='/vendor/jquery-min.js')
  body

  section
    .container-fluid
      .row-fluid
        .span12
          block content
          
          
// <div id="Test"></div> <==> #Test
// <div class="Test"></div> <==> .Test
// <h1>Test</h1> <==> h1 Test