form( method="post", action="/signup" )#signup-form.well.row-fluid
	h1 Sign up
	p.subheading Create your account
	hr
	fieldset
	label Email 
	input(type="text", name="email").span12.required
	label Username 
	input(type="text", name="username").span12.required
	label Password
	input(type="password", name="pass").span12.required
	label Repeat password
	input(type="password", name="repass").span12.required
	hr
	button(type="submit")#btn-signup.btn.btn-block.btn-primary
			i.icon-user.icon-white
			|   Sign up
	//input(type="checkbox", checked='checked').span2
	//label#remember-me.checkbox Remember Me
	div.clear-fix