footer
script(src='/socket.io/socket.io.js')
script(type='text/javascript')
  var socket = io.connect('/');
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.js')
script(type='text/javascript', src='/js/canvasengine.min.js')
script(type='text/javascript', src='/game/extends/Animation.js')
script(type='text/javascript', src='/game/extends/Effect.js')
script(type='text/javascript', src='/game/extends/Spritesheet.js')
script(type='text/javascript', src='/game/extends/Scrolling.js')
script(type='text/javascript', src='/game/extends/Input.js')
script(type='text/javascript', src='/game/extends/Tiled.js')
script(type='text/javascript', src='/game/extends/Window.js')
script(type='text/javascript', src='/game/extends/Marshal.js')
script(type='text/javascript', src='/game/extends/Hit.js')
script(type='text/javascript', src='/game/extends/Text.js')

script(type='text/javascript', src='/game/Sockets.js')
script(type='text/javascript', src='/game/Caracter.js')
script(type='text/javascript', src='/game/Players.js')
script(type='text/javascript', src='/game/OtherObject.js')
script(type='text/javascript', src='/game/Plantation.js')
script(type='text/javascript', src='/game/Building.js')
script(type='text/javascript', src='/game/Map.js')
script(type='text/javascript', src='/game/main.js')