footer
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.js')
script(type='text/javascript', src='/js/canvasengine.min.js')
script(type='text/javascript', src='/game/Tiled.js')
script(type='text/javascript', src='/game/Caracter.js')
script(type='text/javascript', src='/game/main.js')