footer
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.js')
script(type='text/javascript', src='/js/canvasengine.min.js')
script(type='text/javascript', src='/js/game/Tiled.js')
script(type='text/javascript', src='/js/game/main.js')