extends layout
block content
	div.container-fluid
		div.row-fluid
			div.span11#canvasContainer
				div#canvasBorder
					canvas#canvas_id(position='absolute', width='960', height='448')
			div.span1
				div.mouse
	include footerGame