extends layout
block content
	div.container-fluid
		div.row-fluid
			div.span11#canvasContainer
				canvas#canvas_id(position='absolute', width='256', height='256')
			div.span1
				div.mouse
	include footerGame