extends layout
block content
	div.container-fluid
		div.row-fluid
			div.span11#canvasContainer
				div#canvasBorder
					canvas#canvas_id(position='absolute', width='960', height='448')
					div#canvasPanel
						div#PanelLifePercent
							div#PanelLife
						div#PanelButton1
							div#PanelBle
						div#PanelButton2
							div#PanelBuilding
						div#PanelOr
						div#PanelPlayer
							p#TextGold 0 Gold
						div#PanelButton3
						div#PanelButton4
						div#PanelButton5
						div#PanelButton6
			div.span1
				div.mouse
	include footerGame