extends layout
block content
	div.row-fluid
		div.span1.offset1
			if user
			p Name:
		div.span9
			if user
			p= user.username
	div.row-fluid
		div.span1.offset1
			if user
			p Email:
		div.span9
			if user
			p= user.email
	div.row-fluid
		div.span1.offset1
			if user
			p Level:
		div.span9
			if user
			p= user.level

	include footer
			
//script(src='/js/helpers/ajax-send-form.js')